@import url('../../../assets/css/main.css');

h2, h3 {
  text-align: center;
}

.hobby-card {
  background-color: var(--light-color);
  max-width: 650px;
  margin: 0 auto 30px auto;
  border-radius: 6px;
  box-shadow: 0 2px 4px var(--medium-color);
}

.card-content {
  padding: 20px;
  background-color: var(--light-color) !important;
}

.card-header {
  margin-bottom: 1rem;
  background-color: var(--light-color) !important;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.card-description {
  margin-bottom: 20px;
}

.hobby-image-container {
  width: 100%;
  max-width: 420px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.hobby-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: var(--dark-color);
  font-size: 30px;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

.section-title h2,
.section-title h3,
.section-title h5,
.section-title p {
  color: #ffffff !important;
}

.hobby-card .card-header {
  text-align: left;
}

.hobby-card .card-description {
  text-align: left;
}

.projects .hobby-card .card-content,
.projects .hobby-card .card-header,
.projects .hobby-card .card-title,
.projects .hobby-card .card-description {
  text-align: left !important;
}

.projects .hobby-card .card-description {
  margin-left: 0;
  margin-right: auto;
}